@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Thambi+2&family=EB+Garamond&family=Gideon+Roman&family=Hubballi&family=Poppins:ital,wght@0,100;0,400;1,100;1,200&family=Quintessential&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,400;1,100&family=Rubik:wght@300;400&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

/* font-family: 'Baloo 2', cursive;
font-family: 'Baloo Thambi 2', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Gideon Roman', cursive;
font-family: 'Hubballi', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

*{
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: 0; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
:root{
    --color-warning: #f749c94b;
    --color-danger: #972c1e;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #f4f4fdee;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-variant: rgb(114, 230, 214);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
}
h1{
    line-height: 2.4rem;
}
h2{
    line-height: 2rem;
}
h3{
    line-height: 1.6rem;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    z-index: 11;
    box-shadow: 1px 1px black;
}
.nav__container{
    padding: 10px  4rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;
}
.navigation {
    background-color: var(--color-danger);
    padding: 7px ;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
header{
    top: 5rem;
    background-color: var(--color-bg);
    height: 65vh;

}
.header__container{
    padding: 6rem 4rem;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0rem;
}
.header__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
}
.header__left h5{
    color: var(--color-success);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}
.header__left h1{
    color: var(--color-danger);
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    padding: 1rem;
}
.header__left h3{
    font-size: 1.3rem;
    color: var(--color-success);
}
.header__left button{
    background: transparent;
    margin-top: 10px;
    border: 1px solid var(--color-danger);
    padding: 5px;
    border-radius: 20px;
    color: var(--color-danger);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.header__right{
    display: flex;
    width: 100%;
}
.header__right .header-right-image img{
    margin-bottom: -11rem;
    border: none;
    background: transparent;
}
.section1__container{
    height: 70vh;
    padding: 3rem 5rem 3rem;
    width: 100%;
}
.section1-header{
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--color-danger);
}
.section1-header h1{
      padding: 0.4rem 0rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: var(--color-black);
      /* font-size: 4rem; */
}
.section1-header p{
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 2rem;
}

.section1__content{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.conent__box{
    text-align: center;
    /* width: 25%; */
}
.conent__box i{
    font-size: 2rem;
    padding: 2rem;
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
    border-radius: 50px;
    margin-bottom: 1rem;
}
.conent__box h2{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}
.conent__box p{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}
.section2__container{
    background: linear-gradient(rgba(16, 19, 17, 0.5),#171b1b),url(images/eat-2834549_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    height: 60vh;
    width: 100%;
}
.section2__header{
    text-align: center;
    padding: 1rem 0;
}
.section2__header h2{
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.section2__header p{
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.section2__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 1rem;
}
.section2-box{
    background-color: rgb(53, 46, 46);
    padding: 3rem;
}
.section2-box h1{
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
}
.section2-box p{
    color: var(--color-white);
    font-weight: 200;
    line-height: 1.3rem;
}
.mini__section{
    /* padding: 2rem 7rem; */
    height: 25vh;
    background-color: var(--color-danger);
}
.mini__section p{
    color: var(--color-white);
    font-size: 2.1rem;
    text-align: center;
    font-weight: 500;
    padding: 2rem 5rem;
}
.section3{
    background-color: #bdc7bd;
    padding: 2rem;
}
.sec3__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.sec3__header h1{
    color: var(--color-danger);
    font-weight: 400;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.sec3__header p{
    text-align: center;
    margin-top: 10px;
    font-size: 1.1rem;
}
.sec3__header p small{
    font-size: small;
}
.sec3__header h1 span{
    color: var(--color-black);
}
.sec3__paragraph p{
    margin-left: 2rem;
    line-height: 2rem;
    color: var(--color-black);
    text-align: center;
}
.sec3__boxes{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.sec3-box{
    background-color: rgb(236, 234, 234);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
}
.sec3-box:hover{
    /* background-color: var(--color-bg2); */
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.7);
    cursor: pointer;
}
.sec3-box i{
    color: var(--color-danger);
    font-size: 3rem;
    padding: 2rem;
}
.sec3-box h2{
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.sec3-box p{
    color: #837e7e;
}
.section-4 {
    padding: 4rem 0rem 3rem 0rem;
    height: 90vh;
}
.section4__container{
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 4rem;
    height: 100%;
}

.section4-content h2{
    margin-bottom: 2rem;
    padding: 10px;
    text-align: center;
    background-color: var(--color-variant);
    position: relative;
    margin:2rem 150px;
    color: var(--color-white);

    /* width: 20%; */
}
.section4-content h2::after{
    content: '';
    display: block;
    background-color: var(--color-variant);
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: 2.7rem;
    left: 50%;
    transform: rotate(45deg);
    border: transparent;
}
.section4-content p{
    line-height: 2rem;
}
.section4-content span{
    color: #6c63ff;
}
.section-5{
    background-color: #3f3f3f;
    height: 68vh;
    background: linear-gradient(rgba(16, 19, 17, 0.5),#171b1b),url(images/corgi-4415649__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.section5__container{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    /* margin: 0 12rem; */
}
.section5__container i{
    color: var(--color-danger);
    font-size: 3rem;
    padding: 2rem;
}
.section5__container  img{
    border-radius: 50%;
}
.section5__container p{
    color: rgb(238, 236, 236);
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 2rem;
}
.profile{
    border-radius: 50%;
}
.section-6{
    padding: 3rem 15rem;
}

.section6__header{
    text-align: center;
    position: relative;
}
.section6__header h2{
    color: var(--color-black);
    font-size: 2rem;
    padding-bottom: 2rem;
    font-weight: 400;
   
    text-align: center;
}
.section6__header span{
    color: var(--color-variant);
}
.section6__header::after{
    content: "";
    position: absolute;
    top: -20px;
    left: 20rem;
    height: 3px;
    background-color: var(--color-variant);
    width: 30%;
}
.section6__box{
    margin-top: 2rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    box-shadow: 3px 2px 2px 2px rgba(131, 118, 118, 0.5);
    gap: 2rem;
    width: 100%;
    border-radius: 3px;
    border-left: 1px solid rgb(54, 50, 50);
}
.sec6__left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.headers-sec6{
    text-align: center;
}
.headers-sec6 h5{
    text-transform: uppercase;
    color: var(--color-variant);
    font-weight: 300px;
    font-size: 1.1rem;
}


.headers-sec6 h1{
    font-size: 3rem;
    line-height: 3.5rem;
    color: rgb(24, 20, 20);
}
.headers-sec6 h2{
    margin-top: 1.1rem;
    font-weight: 400;
    font-size: 1.1rem;
}
.content-sec6 p{
    font-weight: 400;
    padding: 5px;
    color: #5f5a5a;
}
.content-sec6 p small{
    margin-right: 3px;
    color: var(--color-variant);
    font-size: 1.2rem;
}
.content-sec6  span{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.sec6-right-content{
    text-align: center;

}
.sec6-right-content p{
    margin-top: 1rem;
    font-weight: 400;
}
.sec6-right-content h1{
    font-weight: 400;
}
.sec6-right-content button{
    text-transform: uppercase;
    color: var(--color-white);
    margin-top: 1.5rem;
    padding: 15px;
    background-color: rgb(65, 202, 184);
    /* font-family: 'Hubballi', cursive; */
    font-weight: 600;
    border-radius: 3px;
}
.sec6-right-content button span{
    margin-left: 1rem;
}

.sec6-header{
    text-align: center;
}
.section-7{
    background-color: #bdc7bd;
    padding-top: 20px;
    padding-bottom: 3rem;
}
.sec7-header h1{
    margin-bottom: 2rem;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 100;
    margin:2rem 150px;
}
.sec7-header h1::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 25rem;
    height: 2px;
    background-color: var(--color-variant);
    width: 30%;
}
.sec7-header p{
    text-align: center;
    /* width: var(--container-width-lg); */
    padding: 0rem 15rem;
}
.faqs{
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.faqs__container{
    /* width: var(--container-width-lg); */
    /* margin: 0 auto; */
    margin: 2rem 15rem 2rem 15rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.faq{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-white);
    cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2rem;
}
.faq__icon{
    align-items: flex-start;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 50%;
}
.faq p{
    margin-top: 0.8rem;
    display: none;
}
.faq.open p{
    display: block;
}
footer{
    background-color: #0f0e0f;
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--color-white);
    /* margin-bottom: 10px; */
}
footer p{
    color: rgb(201, 201, 201);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
}
footer span{
    color: #524e50;
}
.footer__content{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.footer__content ul{
    display: flex;
}
.footer__content ul li{
    padding: 0rem 1rem;
}
.footer__content ul li a{
    color: var(--color-variant);
    font-weight: 500;
}
.footer__content ul li a:hover{
    color: var(--color-white);
}
.socials{
    margin: 0rem 1rem;
}
.socials i{
    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;
    padding: 0rem 1rem;
}

@media screen and (max-width: 1024px){

    .container{
        width: var(--container-width-md);
    }
    .section1-header h1{
        font-weight: 500;
        color: var(--color-black);
        font-size: 13px;
        width: 100%;
    }
    .section1-header h1{
        padding: 2rem 0rem;
    }
    .nav__container{
        background-color: #110d0d;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .navigation{
        font-size: 13px;
        padding: 4px;
        line-height: 10px;
        width: 15rem;
        margin-right: 0;
    }
  
    .header__container{
        padding-top: 0;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        height: 100vh;
    }
    header{
        height: 110vh;
    }
    .header__right{
        text-align: center;
    }
    .header__right{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .section6__box{
        display: block;
    }
    .section4-content h2{
        margin-bottom: 2rem;
        position: relative;
        width: 50%;
    }
    .section2-box{
        padding: 1.1rem;
    }
   
}